@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Inter';
  src: url('/font/inter-var-latin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
